.sidebar {
  background-color: $color-primary;
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;

  display: flex;
  justify-content: center;
}

.nav-btn {
  margin-top: 2.4rem;
  border: none;
  background-color: #fff;
  height: 2px;
  width: 4.8rem;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    border: none;
    background-color: #fff;
    height: 2px;
    width: 4.8rem;
    position: absolute;
    display: block;

    left: 0;
  }

  &::before {
    top: -1rem;
  }

  &::after {
    top: 1rem;
  }
}
